$icomoon-font-path: "fonts" !default;

$icon-mood-happy-outline: \e900;
$icon-conversation: \e901;
$icon-dots-horizontal-triple: \e902;
$icon-exclamation-outline: \e903;
$icon-exclamation-solid: \e904;
$icon-indent-decrease: \e905;
$icon-indent-increase: \e906;
$icon-link: \e908;
$icon-menu: \e909;
$icon-mood-sad-solid: \e90a;
$icon-navigation-more: \e90b;
$icon-question: \e90c;
$icon-share-alt: \e90d;
$icon-stand-by: \e90e;
$icon-thumbs-down: \e90f;
$icon-thumbs-up: \e910;
$icon-user-solid-circle: \e911;
$icon-user-solid-square: \e912;
$icon-user: \e913;
$icon-view-hide: \e914;
$icon-view-list: \e915;
$icon-view-show: \e916;
$icon-view-tile: \e917;
$icon-arrow-thin-down: \e918;
$icon-arrow-thin-left: \e919;
$icon-arrow-thin-right: \e91a;
$icon-at-symbol: \e91b;
$icon-attachment: \e91c;
$icon-block: \e91d;
$icon-bug: \e91e;
$icon-checkmark-outline: \e91f;
$icon-checkmark: \e920;
$icon-cheveron-down: \e921;
$icon-cheveron-left: \e922;
$icon-cheveron-outline-down: \e923;
$icon-cheveron-outline-left: \e924;
$icon-cheveron-outline-right: \e925;
$icon-cheveron-outline-up: \e926;
$icon-cheveron-right: \e927;
$icon-cheveron-up: \e928;
$icon-close-outline: \e929;
$icon-close: \e92a;
$icon-code: \e92b;
$icon-cog: \e92c;
$icon-compose: \e92d;
$icon-系统通知: \e907;

